<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookipedia</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="search" method="POST">
        <nav class="nav">
           <h3><a href="#" class="logo">Home</a></h3> 

            <select name="sort" class="select">
                <option value="" disabled selected>Sort by</option>
                <option value="rating">Rating</option>
                <option value="title">Title (A-Z)</option>
                <option value="author">Author (A-Z)</option>
            </select>

            <div class="search">
                <input type="search" name="search" id="search" placeholder="Search books">
                <button type="submit">Search</button>
            </div>
        </nav>
    </form>
</body>
</html>